@model AllegroMVC.Models.Flower
@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<div id="productlist-content">
    
    @Html.Action("FlowerTypesMenu")

    <div id="productlist-rightsection">
        <div id="breadcrumb-section">
            <img src="@Url.Content("~/Content/Images/home-small.png")" />
            @Html.MvcSiteMap().SiteMapPath()
        </div>


        <section id="product-details-section">
            <div id="product-details-left">

                <img src="@Url.FlowerPhotoPath(Model.ImageFileName)" />

                <div id="product-details-share">
                    <a href="https://www.facebook.com/shareer/sharer.php?u=@Request.Url.AbsoluteUri" target="_blank"></a>
                    <div></div>
                    <a href="https://twitter.com/share?text=Moja_nowa_zdobycz:_@Request.Url.AbsoluteUri" target="_blank"></a>
                </div>

            </div>

            <div id="product-details-right">
                <div id="product-details-names">

                    <h1>
                        @Model.FlowerName
                    </h1>

                </div>

                <div id="product-details-price">
                    <div>
                        @String.Format("{0:0.##}", Model.Price)<span>PLN</span>
                    </div>
                    <a href="@Url.Action("AddToCart", "Cart", new { id = Model.FlowerId })"></a>
                </div>

                <div id="product-details-description">
                    @Model.Description
                </div>

                <div id="product-details-info">
                    Bezpłatna przesyłka. Czas realizacji: 24 godziny.
                </div>

                @if (ViewBag.UserIsAdmin)
                {
                    <div id="product-details-info">
                        <a href="@Url.Action("CreateAuction", "Manage", new { flowerId = Model.FlowerId })" class="create-auction-link"></a>
                        <span style="float: right; line-height: 73px;">Wystaw na</span>
                    </div>
                }
                @if (ViewBag.AllegroAuction != null && ViewBag.UserIsAdmin)
                {
                    <div style="clear: both;">
                        @ViewBag.AllegroAuction
                    </div>
                }
            </div>

        </section>

    </div>
</div>

